<!-- Volume Calculator -->
<html>
<head>
<title>VolumeCalculator</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="background: #C33764; /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #1D2671, #C33764); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
<div id="container" style="text-align: center; padding: 15px;">
	<div id="alert-container"></div>
	<div id="content" style="border-radius: 1px round; border: 2px solid; border-radius: 5px; padding: 20px; background-color: rgb(0, 0, 0,0.6); display: inline-block; margin: 0 auto; text-align: center; color: lightgrey; width: 700px;">
		<h2>Volume Calculator</h2>
		<hr style="border: 1px solid" noshade>
			<button id="instructionButton" type="button" class="btn btn-outline-info btn-lg btn-block" type="button" data-toggle="collapse" data-target="#instructionContent" aria-expanded="false" aria-controls="instructionContent">Instructions</button>
				<div class="collapse" id="instructionContent">
				<div class="card card-body" style="background-color: rgb(0, 0, 0, 0.3); color: lightgrey; text-align: left;">
					<ol>
					<li>Select the shape you want to find the volume for.</li>
					<li>Click on the "Enter Dimensions" button.</li>
					<li>Enter in all the dimensions into the inputs.</li>
					<li>Click "Submit"</li>
					<li>Answer will be located under the volume input</li>
					<ol>
				</div>
			</div>
			<br>
		<div class="input-group">
		<select class="custom-select" id="inputShape">
			<option value="Pyramid" selected>Pyramid</option>
			<option value="Cone">Cone</option>
			<option value="Cube">Cube</option>
			<option value="Sphere">Sphere</option>
			<option value="Cylinder">Cylinder</option>
			<option value="Prism">Prism</option>
		</select>
		</div>
			<div id="btnContainer" style="padding-top: 10px">
				<button type="button" class="btn btn-primary" id="openModal" data-toggle="modal" data-target="#DimensionsModal">Enter Dimensions</button>
			</div>
			<div id="modalContainer">
			</div>
<br>
				<label for="inputVolume">Volume:</label>
				<input id="inputVolume" disabled></input>
				<br>
				<hr style="border: 0.5px solid;" noshade>
				<div style="padding-top: 10px;">
				<sup style="text-align: center;">Developed by Joshua S, Last Modified: 29/08/19</sup>
				</div>
		</div>
	</div>
<script>
	var submit;
	var firstVal, secondVal, thirdVal, volume, validate, insert, shape;
	var btnDimensions = document.getElementById("openModal");
	btnDimensions.addEventListener("click", initModal, false);
	validate = {
		"existance": function (a,b,c) {{if (typeof a == "undefined" || typeof b == "undefined" || typeof c == "undefined") {console.log("Existance check failed!"); generateAlert("Please make sure that you have entered a value!", "warning"); return false} else { return true};}},
		"datatype": function (a,b,c) {if (isNaN(a) || isNaN(b) || isNaN(c)) {console.log("Datatype check failed!"); generateAlert("Please check that you have entered only numeric values!", "warning"); return false} else {return true};}
	}
	insert = {
		"character": function(a) {console.log("[Insert] Inserting character" + String.fromCharCode(a)); return String.fromCharCode(a)}
	};
	
	function initModal() {
		var shapeVal = document.getElementById("inputShape").value;
		console.log("initModal called!");
		switch (shapeVal) {
		case "Pyramid":
		generateModal("Pyramid","Base Length", "Base Width", "Base Height", true, true, true);
		console.log("Generating Pyramid Modal");
		break;
		case "Cone":
		generateModal("Cone","Radius", "Height", "", true, true, false);
		console.log("Generating Cone Modal");
		break;
		case "Cube":
		generateModal("Cube","Edge", "", "", true, false, false);
		console.log("Generating Cube Modal");
		break;
		case "Sphere":
		generateModal("Sphere","Radius", "", "", true, false, false);
		console.log("Generating Sphere Modal");
		break;
		case "Cylinder":
		generateModal("Cylinder","Radius", "Height", "", true, true, false);
		console.log("Generating Cylinder Modal");
		break;
		case "Prism":
		generateModal("Prism", "Height", "Width", "Length", true, true, true);
		console.log("Generating Prism Modal");
		}
	};
	
	function generateModal(shape, lblFirst, lblSecond, lblThird, boolFirst, boolSecond, boolThird) {
		var container = document.getElementById("modalContainer");
		if (container.hasChildNodes()) {
			container.removeChild(container.firstChild);
			console.log("Pre-existing Modals have been removed!");
		}
		var modal = document.createElement("div");
		var dialog = document.createElement("div");
		var content = document.createElement("div");
		var header = document.createElement("div");
		var title = document.createElement("h5");
		var btnDismiss = document.createElement("button");
		var span = document.createElement("span");
		var body = document.createElement("div");
		var footer = document.createElement("div");
		var btnClose = document.createElement("button");
		var btnSubmit = document.createElement("button");
		if (boolFirst == true) {
			var firstlbl = document.createElement("label");
			var firstInput = document.createElement("input");
			firstlbl.setAttribute("for", "inputDimensionsFirst");
			firstlbl.id = "lblDimensionsFirst";
			firstlbl.innerText = lblFirst;
			firstInput.setAttribute("type", "text");
			firstInput.classList.add("form-control");
			firstInput.id = "inputDimensionsFirst";
			firstInput.setAttribute("aria-describedby", "inputDimensionsFirst");
			firstInput.setAttribute("placeholder", lblFirst);
			body.appendChild(firstlbl);
			body.appendChild(firstInput);

		}
		if (boolSecond == true) {
			var secondlbl = document.createElement("label");
			var secondInput = document.createElement("input");
			secondlbl.setAttribute("for", "inputDimensionsSecond");
			secondlbl.id = "lblDimensionsSecond";
			secondlbl.innerText = lblSecond;
			secondInput.setAttribute("type", "text");
			secondInput.classList.add("form-control");
			secondInput.id = "inputDimensionsSecond";
			secondInput.setAttribute("aria-describedby", "inputDimensionsSecond");
			secondInput.setAttribute("placeholder", lblSecond);
			body.appendChild(secondlbl);
			body.appendChild(secondInput);
		}
		if (boolThird == true) {
			var thirdlbl = document.createElement("label");
			var thirdInput = document.createElement("input");
			thirdlbl.setAttribute("for", "inputDimensionsThird");
			thirdlbl.id = "lblDimensionsThird";
			thirdlbl.innerText = lblThird;
			thirdInput.setAttribute("type", "text");
			thirdInput.classList.add("form-control");
			thirdInput.id = "inputDimensionsThird";
			thirdInput.setAttribute("aria-describedby", "inputDimensionsThird");
			thirdInput.setAttribute("placeholder", lblThird);
			body.appendChild(thirdlbl);
			body.appendChild(thirdInput);
		}
		modal.classList.add("modal");
		modal.classList.add("fade");
		modal.id = "DimensionsModal";
		modal.style.textAlign = "left";
		modal.setAttribute("tabindex", "-1");
		modal.setAttribute("role", "dialog");
		modal.setAttribute("aria-labelledby", "DimensionsTitle");
		modal.setAttribute("aria-hidden", "true");
		dialog.classList.add("modal-dialog");
		dialog.setAttribute("role", "document");
		content.classList.add("modal-content");
		header.classList.add("modal-header");
		title.classList.add("modal-title");
		title.id = "DimensionsTitle";
		title.innerText = "Enter " + shape + " Dimensions"
		btnDismiss.setAttribute("type", "button");
		btnDismiss.classList.add("close");
		btnDismiss.setAttribute("data-dismiss", "modal");
		btnDismiss.setAttribute("aria-label", "Close");
		span.setAttribute("aria-hidden", "true");
		span.innerText = insert["character"](215);
		span.style.color = "white";
		body.classList.add("modal-body");
		footer.classList.add("modal-footer");
		btnClose.setAttribute("type", "button");
		btnClose.classList.add("btn");
		btnClose.classList.add("btn-secondary");
		btnClose.setAttribute("data-dismiss", "modal");
		btnClose.innerText = "Close";
		btnSubmit.setAttribute("type", "button");
		btnSubmit.id = "btnSubmit";
		btnSubmit.classList.add("btn");
		btnSubmit.classList.add("btn-primary");
		btnSubmit.setAttribute("data-dismiss", "modal");
		btnSubmit.innerText = "Submit";
		footer.appendChild(btnSubmit);
		footer.appendChild(btnClose);
		header.appendChild(title);
		btnDismiss.appendChild(span);
		header.appendChild(btnDismiss);
		content.style.background = "rgb(48,48,48)"
		content.appendChild(header);
		content.appendChild(body);
		content.appendChild(footer);
		dialog.appendChild(content);
		modal.appendChild(dialog);
		container.appendChild(modal);
		submit = document.getElementById("btnSubmit");
		submit.addEventListener("click", calculate, false);
	}
	
	function calculate() {
		var shape = document.getElementById("inputShape").value;
		try {
		firstVal = document.getElementById("inputDimensionsFirst").value;
		} catch {
		console.log("First value is not existant")
		}
		try {
		secondVal = document.getElementById("inputDimensionsSecond").value;
		} catch {
		secondVal = 0
		console.log("Second Value is not existant");
		}
		try {
		thirdVal = document.getElementById("inputDimensionsThird").value;
		} catch {
			thirdVal = 0
			console.log("Third value is not existant");
		}
		if (validate["existance"](firstVal, secondVal, thirdVal) || validate["datatype"](firstVal, secondVal, thirdVal) == true) {
		document.getElementById("inputVolume").value = null;
		console.log("Passed Validation!");
		firstVal = Number(firstVal);
		secondVal = Number(secondVal);
		thirdVal = Number(thirdVal);
		switch (shape) {
			case "Pyramid":
			console.log("Calculating " + shape + " volume!")
			volume = firstVal * secondVal * thirdVal / 3
			break;
			case "Cone":
			console.log("Calculating " + shape + " volume!")
			volume = Math.PI * Math.pow(firstVal, 2) * secondVal / 3
			break;
			case "Cube":
			console.log("Calculating " + shape + " volume!")
			volume = Math.pow(firstVal, 3);
			break;
			case "Sphere":
			console.log("Calculating " + shape + " volume!")
			volume = 4/3 * Math.PI * Math.pow(firstVal,3)
			break;
			case "Cylinder":
			console.log("Calculating " + shape + " volume!")
			volume = Math.PI * Math.pow(firstVal,2) * secondVal
			break;
			case "Prism":
			console.log("Calculating " + shape + " volume!")
			volume = firstVal * secondVal * thirdVal
		};
		volume = Math.round(volume * 100) / 100
		document.getElementById("inputVolume").value = volume;
		}
	}
	function generateAlert(text, type) {
			console.log("Generating Alert!");
			var alertContainer = document.getElementById("alert-container");
			var alert = document.createElement("div");
			var alertHeader = document.createElement("h4");
			var alertBreak = document.createElement("hr");
			var alertText = document.createElement("p");
			var alertText2 = document.createElement("p");
			alert.classList.add("alert");
			alert.classList.add("alert-heading");
			alert.classList.add("fade");
			alert.classList.add("show");
			alert.style.textAlign = "left";
			alertHeader.classList.add("alert-heading");
			alertText.classList.add("mb-0");
			alertText2.classList.add("mb-0");
			switch (type) {
				case "danger":
					alert.classList.add("alert-danger");
					alertHeader.innerText = "Error!"
				break;
				case "success":
					alert.classList.add("alert-success");
					alertHeader.innerText = "Success!"
				break;
				case "warning":
					alert.classList.add("alert-warning");
					alertHeader.innerText = "Warning!"
				break;
				default:
				console.log("[generateAlert] No type defined");
			};
			alert.setAttribute("role", "alert");
			alertText.innerText = text
			alert.appendChild(alertHeader);
			alert.appendChild(alertBreak);
			alert.appendChild(alertText);
			alert.appendChild(alertText2);
			alertContainer.appendChild(alert);
			alertText2.innerText = "This message will auto-dismiss in: 5 secs";
			setTimeout(function() {
				console.log("Alert dismissed!");
				jQuery(".alert").alert("close")
				
			}, 5000, false);
			};
</script>
</body>
</html>