<html>
	<head>
		<title>FortnightlyConvert</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body style="background: #5C258D; /* fallback */ background: -webkit-linear-gradient(to right, #4389A2, #5C258D); background: linear-gradient(to right, #4389A2, #5C258D); ">
	<div id="alert-container" style="text-align: left;"></div>
		<div id="container" style="text-align: center; padding: 15px;">
			<div id="content" style="border-radius: 1px round; border: 2px solid; border-radius: 5px; padding: 20px; background-color: rgb(211, 211, 211,0.6); display: inline-block; margin: 0 auto; text-align: center;">
				<h1>FortnightlyConvert</h1>
				<hr style="border: 1px solid" noshade>
				<br>
				<button id="instructionButton" type="button" class="btn btn-outline-dark btn-lg btn-block" type="button" data-toggle="collapse" data-target="#instructionContent" aria-expanded="false" aria-controls="instructionContent">Instructions</button>
				<div class="collapse" id="instructionContent">
				<div class="card card-body" style="background-color: rgb(211, 211, 211, 0.3); color: black; text-align: left;">
					<ol>
					<li>Click on the "Enter Wage" button.</li>
					<li>Enter in your fortnightly wage.</li>
					<li>Done!</li>
					<ol>
				</div>
			</div>
			<div id="btnContainer" style="padding-top: 10px">
			<button type="button" class="btn btn-primary" id="openForm" data-toggle="modal" data-target="#FortnightlyModal">Enter Wage</button>
				</div>
				<div class="modal fade" id="FortnightlyModal" style="text-align: left;" tabindex="-1" role="dialog" aria-labelledby="FortnightlyTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FortnightlyTitle">Enter Fortnightly Wage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
               			<label for="inputFortnightlyWage">Fortnightly Wage:</label>
					<input type="text" class="form-control" id="inputFortnightlyWage" aria-describedby="FortnightInput" placeholder="Enter Fortnightly Wage">
					<small id="fortnightHelp" class="form-text text-muted">Enter the amount you earn on a fortnightly basis!</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="modalButton" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<br><br>
				<label for="input-fortnightly-wage">Fortnightly Wage:</label>
				<input id="input-fortnightly-wage" disabled></input>
				<label for="input-yearly-wage">Yearly Wage:</label>
				<input id="input-yearly-wage" disabled></input>
				<br><br>
				<sup style=""></sup>
			</div>
		</div>
		<script>
		window.onload = (event) => {
		var inputFortnightly, modalButton, intMultiplier, decYearly, inputYearly, inputResultFortnightly, inputPrefix, insert;
		modalButton = document.getElementById("modalButton");
		modalButton.addEventListener("click", calculate, false);
		var validation = {
			// If value is not existant than this function will return true
			"existance": function (x) {{if (x.length == 0) {console.log("Existance check failed!"); generateAlert("Please make sure that you have entered a value!", "warning"); return false} else { return true};}},
			"datatype": function (x) {if (isNaN(x)) {console.log("Datatype check failed!"); generateAlert("Please check that you have entered only numeric values!", "warning"); return false} else {return true};}
		}
		insert = {
		"character": function(a) {console.log("[Insert] Inserting character" + String.fromCharCode(a)); return String.fromCharCode(a)}
		};
		document.getElementsByTagName("sup")[0].innerText = "Developed by Joshua S, " + insert["character"](169) + " 2019";
		function calculate() {
			console.log("Calculate Subroutine called!");
			inputPrefix = String.fromCharCode(36);
			intMultiplier = Number(26);
			document.getElementById("input-fortnightly-wage").value = null;
			document.getElementById("input-yearly-wage").value = null;
			inputFortnightly = document.getElementById("inputFortnightlyWage").value;
			if (validation["existance"](inputFortnightly) && validation["datatype"](inputFortnightly) == true) {
				console.log("Passed Validation");
				inputFortnightly = Number(inputFortnightly);
				console.log("Input " + inputFortnightly);
				document.getElementById("input-fortnightly-wage").value = inputPrefix + inputFortnightly;
				decYearly = inputFortnightly * intMultiplier;
				document.getElementById("input-yearly-wage").value = inputPrefix + decYearly;
				console.log("Result: " + inputYearly);
			}
			document.getElementById("inputFortnightlyWage").value = null;
			}
			function generateAlert(text, type) {
			var alertContainer = document.getElementById("alert-container");
			var alert = document.createElement("div");
			var alertHeader = document.createElement("h4");
			var alertBreak = document.createElement("hr");
			var alertText = document.createElement("p");
			var alertText2 = document.createElement("p");
			alert.classList.add("alert");
			alert.classList.add("alert-heading");
			alert.classList.add("fade");
			alert.classList.add("show");
			alert.style.textAlign = "left";
			alertHeader.classList.add("alert-heading");
			alertText.classList.add("mb-0");
			alertText2.classList.add("mb-0");
			switch (type) {
				case "danger":
					alert.classList.add("alert-danger");
					alertHeader.innerText = "Error!"
				break;
				case "success":
					alert.classList.add("alert-success");
					alertHeader.innerText = "Success!"
				break;
				case "warning":
					alert.classList.add("alert-warning");
					alertHeader.innerText = "Warning!"
				break;
				default:
				console.log("[generateAlert] No type defined");
			};
			alert.setAttribute("role", "alert");
			alertText.innerText = text
			alert.appendChild(alertHeader);
			alert.appendChild(alertBreak);
			alert.appendChild(alertText);
			alert.appendChild(alertText2);
			alertContainer.appendChild(alert);
			alertText2.innerText = "This message will auto-dismiss in: 5 secs";
			setTimeout(function() {
				console.log("Alerts dismissed!");
				jQuery(".alert").alert("close")
				
			}, 5000, false);
			};
		};
		</script>
	</body>
</html>